@model IEnumerable<HotelBookingApplicationMVC.Entity.User>
@{
    ViewBag.Title= "index";
}
<h2>Index</h2>
@*<table>
    @foreach (HotelBookingApplicationMVC.Entity.User item in (IEnumerable<HotelBookingApplicationMVC.Entity.User>)ViewData["List"])
    {
        <tr>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>@item.age</td>
        </tr>
    }
</table>
<table>
    @foreach (HotelBookingApplicationMVC.Entity.User item in (IEnumerable<HotelBookingApplicationMVC.Entity.User>)TempData["List"])
    {
        <tr>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>@item.age</td>
        </tr>
    }
</table>`
<table>
    @foreach (HotelBookingApplicationMVC.Entity.User item in ViewBag.List)
    {
        <tr>
            <td>@item.name</td>
        </tr>
        <tr>
            <td>@item.age</td>
        </tr>
    }
</table>*@
@Html.ActionLink("Create U", "Create")
<br />
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
@foreach (HotelBookingApplicationMVC.Entity.User user in @Model)
{
    <table border="1">
        <tr>
            <td>
                @user.name
            </td>
            <td>
                @user.age
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { name = user.name })
                @Html.ActionLink("Delete", "Delete", new { name = user.name })
            </td>

        </tr>
    </table>
}
@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@